body {
  margin: 0;
  padding: 0;
}

#bathroom {
  background: url('/images/male-female.png') no-repeat;
  background-size: 100% 100%;
}

#bathroom.occupied {
  background-color: red;
  height: 100%;
  width: 100%;
}

#bathroom.not-occupied {
  background-color: green;
  height: 100%;
  width: 100%;
}
